.vinInput {
    max-width: 270px;
    background: #fff;
    text-transform: uppercase;
    border: 0;
    color: #555;
    font-size: 30px;
    border-radius: 2px 0 0 2px;
    padding: 1% 4px;
    margin: 0;
    letter-spacing: 10px;
    font-family: Arial;
    line-height: 43px;
}

.invalid {
    color: red;
}

.errorBlock {
    position: fixed;
    width: 100%;
    bottom: 85px;
    color: wheat;
    text-align: center;
}

.vinInput::placeholder {
    text-align: center;
    letter-spacing: 1px;
    font-family: Lato;
    font-weight: 400;
    text-transform: uppercase;
}

.vinCheckFull h1 {
    color: #fff;
    font-size: 50px;
    font-size: 2.6vw;
    text-align: center;
}

.pageClass {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: #fff;
}

.containerWide {
    width: 100%;
}

.checkBlock {
    background: rgb(178 208 239 / 85%);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    overflow: visible;
    position: relative;
    height: 580px;
}

.vinCheckFull {
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 0 10%;
}

.vinCheckFull .checkFormTxt {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-size: 1.3vw;
}

.checkForm {
    max-width: 750px;
    margin: 15px auto;
}

.checkForm form {
    padding-bottom: 28px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carCartoon {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    position: relative;
}

.carCartoon img {
    width: 100%;
}

.checkForm .vinBtn {
    width: 200px;
    height: 57px;
    background: #f97f1c;
    border: 0;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    padding: 1%;
    margin: 0;
    line-height: 43px;
    cursor: pointer;
    position: absolute;
    top: 211%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cleanBtn {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 25px;
    border-radius: 0 0 0 40%;
    background-color: #e67373;
    color: white;
    cursor: pointer;
}

.cleanBtn:hover::after {
    content: attr(data-title);
    position: absolute;
    background: yellowgreen;
    color: white;
    bottom: 20px;
    left: 20px;
    border: solid 4px yellowgreen;
    border-radius: 20% 20% 20% 0;
    opacity: 0.8;
}

.checkForm .checkFormInfo {
    display: none;
    color: #a94442;
    background-color: #f2dede;
    position: absolute;
    bottom: 0;
    padding: 0 5px;
    font-size: 12px;
    line-height: 28px;
    border-radius: 0 0 5px 5px;
    width: 68%;
}

.vinCheckFull .checkFormLinks a:first-child {
    float: left;
}

.vinCheckFull .checkFormLinks a:last-child {
    float: right;
}

.vinCheckFull .checkFormLinks a {
    color: #fff;
    font-size: 22px;
    font-size: 1.1vw;
}

.btnBlock {
    text-align: center;
}

.arrow {
    position: absolute;
    top: -101%;
    right: 46%;
}
.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337AB7;
    border-right: 5px solid #337AB7;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}

@media(max-width: 770px) {
    .checkBlock {
        height: calc(100vw * 0.75);
    }
    .vinInput {
        max-width: calc(100vw * 0.35);      
        font-size: calc(100vw * 0.032);
        line-height: calc(100vw * 0.065);;
    }
}

@media(max-width: 600px) {
    .checkBlock {
        height: calc(100vw * 0.83);
    }
    .cleanBtn {
        display: none;
    }
}