.rules {
    line-height: 1.7;
    text-align: justify;
    background: #337ab7;
    color: #fff;
    padding: 20px;
    margin: 20px;
    position: relative;
    z-index: 10;
  }
  
  .rules::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 50%;
    border-bottom: 10px solid #337ab7;
    top: -10px;
  }
  
  .rules h2 {
    text-align: center;
    font-size: 1.2em;
  }